{% extends "layouts/_layout.html" %}

{% block content %}

   {% include "partials/_header.html" %}

   <main class="main">

      <div class="screen screen--parts">
         <div class="container">
            <div class="screen__col">
               {% include "partials/_sidebar.html" %}
            </div>
            <div class="screen__col">
               <div class="breadcrumbs">
                  <ul class="breadcrumbs__list">
                     <li class="breadcrumbs__item"><a href="#!" class="breadcrumbs__link link-default">Главная</a></li>
                     <li class="breadcrumbs__item"><a href="#!" class="breadcrumbs__link link-default">Интернет
                                                                                                       магазин</a></li>
                     <li class="breadcrumbs__item"><a href="#!" class="breadcrumbs__link link-default">Иномарки</a></li>
                     <li class="breadcrumbs__item is-current"><a href="#!"
                                                                 class="breadcrumbs__link link-default">BMW</a></li>
                  </ul>
               </div>

               <div class="search search--parts">
                  <h2 class="search__title title-lg title-lg--b">АВТОЗАПЧАСТИ ДЛЯ BMW 1 (F20) 125 d В САМАРЕ</h2>
                  <div class="search__inner">
                     <div class="search__form-wrapp search__form-wrapp--full">
                        <form class="search__form" action="#">
                           <div class="search__form-field search__form-field--simple">
                              <input class="search__form-input" type="text" name="" title="Поиск">
                              <button class="search__form-btn" type="submit">{{ mixins.icon('search') }}</button>
                              <ul class="search__tags">
                                 <li>Амортизатор <span class="search__tags-remove">{{ mixins.icon('close') }}</span>
                                 </li>
                                 <li>Камаз <span class="search__tags-remove">{{ mixins.icon('close') }}</span></li>
                              </ul>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
               <div class="parts">
                  <div class="parts__nav">
                     <a class="parts__nav-link link-default js-parts-show" href="#!">Открыть все</a>
                     <a class="parts__nav-link link-default js-parts-hide" href="#!">Скрыть все</a>
                  </div>
                  <div class="parts__inn">
                     <div class="parts__col">
                        <ul class="parts__list js-parts-list">
                              <li>
                                 <a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Внутренняя отделка</span></a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Главная передача</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Двигатель</span></a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                    <li><a href="#!">Запчасть 4</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Детали для сервиса / ТО / ухода</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                    <li><a href="#!">Запчасть 4</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Дополнительные удобства</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                    <li><a href="#!">Запчасть 4</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Замок</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Колёса / шины</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Комплектующие</span></a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Кондиционер</span></a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Коробка передач</span></a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Кузов</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                              <li><a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Оборудование для перевозки</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                              <li>
                                 <a href="#!" class="parts__list-title">
                                    <i class="parts__list-btn"></i>
                                    <span>Отопление / вентиляция</span>
                                 </a>
                                 <ul class="parts__sub-list">
                                    <li><a href="#!">Запчасть 1</a></li>
                                    <li><a href="#!">Запчасть 2</a></li>
                                    <li><a href="#!">Запчасть 3</a></li>
                                 </ul>
                              </li>
                           </ul>
                     </div>
                     <div class="parts__col">
                        <div class="parts__pop">
                           <h5 class="parts__pop-title">ПОПУЛЯРНЫЕ КАТЕГОРИИ</h5>
                           <ul class="parts__pop">
                              <li><a class="link-default link-default--black" href="#!">Интервал регулировки</a></li>
                              <li><a class="link-default link-default--black" href="#!">Амортизатор</a></li>
                              <li><a class="link-default link-default--black" href="#!">Батарея</a></li>
                              <li><a class="link-default link-default--black" href="#!">Водяной радиатор</a></li>
                              <li><a class="link-default link-default--black" href="#!">Воздушный фильтр</a></li>
                              <li><a class="link-default link-default--black" href="#!">Генератор</a></li>
                              <li><a class="link-default link-default--black" href="#!">Детали кузова/крыло/буфер</a></li>
                              <li><a class="link-default link-default--black" href="#!">Зеркала</a></li>
                              <li><a class="link-default link-default--black" href="#!">Испаритель</a></li>
                              <li><a class="link-default link-default--black" href="#!">Лямбда-зонд</a></li>
                              <li><a class="link-default link-default--black" href="#!">Масляный фильтр</a></li>
                              <li><a class="link-default link-default--black" href="#!">Поликлиновый ремень</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      {% include "partials/_disblock.html" %}

      {% include "partials/_offers-product.html" %}

      {% include "partials/_read.html" %}

      {% include "partials/_about.html" %}

      {% include "partials/_address.html" %}

   </main>

   {% include "partials/_footer.html" %}

{% endblock %}