{% extends "layouts/_layout.html" %}

{% block content %}

   <div class="container" style="display: flex; flex-direction: column;">
      <div style="margin-bottom: 25px" class="title-lg">Страницы:</div>
      <a style="margin-bottom: 15px;" href="home.html">Главная</a>
      <a style="margin-bottom: 15px;" href="basket.html">Корзина</a>
      <a style="margin-bottom: 15px;" href="personal-area.html">Личный кабинет</a>
      <a style="margin-bottom: 15px;" href="personal-area-2.html">Личный кабинет 2</a>
      <a style="margin-bottom: 15px;" href="foreign-cars.html">Иномарки</a>
      <a style="margin-bottom: 15px;" href="contacts.html">Контакты</a>
      <a style="margin-bottom: 15px;" href="search.html">Поиск</a>
      <a style="margin-bottom: 15px;" href="bmw-parts.html">BMW Запчасти</a>
      <a style="margin-bottom: 15px;" href="bmw-parts-cat.html">BMW Запчасти - категории</a>
      <a style="margin-bottom: 15px;" href="bmw-parts-all.html">BMW Запчасти - общая</a>
      <a style="margin-bottom: 15px;" href="bmw-parts-model.html">BMW Запчасти - модель</a>
   </div>

{% endblock %}