<section class="disblock">
   <div class="container">
      <h3 class="title-sm title-sm--strong disblock__title">
         ДИСКОНТНАЯ СИСТЕМА СКИДКИ ОТ 5%
      </h3>
      <p class="disblock__descr">Оставьте Вашу почту и получите персональную скидку и подписку на лучшие предложения
      </p>
      <div class="disblock__form-wrapper">
         <form class="disblock__form" action="#!">
            <div class="disblock__form-field">
               <input class="disblock__form-input" type="email" placeholder="Введите ваш e-mail">
            </div>
            <div class="disblock__form-field">
               <button class="btn disblock__form-btn" type="submit">ПОЛУЧИТЬ СКИДКИ</button>
            </div>
         </form>
      </div>
   </div>
</section>