<div class="feed">
   <div class="container">
      <h2 class="feed__title title-lg">ОБРАТНАЯ СВЯЗЬ</h2>
      <div class="feed__inner">
         <form action="#!">
            <div class="feed__row">
               <div class="feed__field">
                  <input class="input-default" type="text" name="" title="Введите ваше имя" placeholder="Введите ваше имя"></div>
               <div class="feed__field">
                  <input class="input-default" type="email" name="" title="Введите ваш e-mail" placeholder="Введите ваш e-mail">
               </div>
               <div class="feed__field">
                  <input class="input-default" type="tel" name="" title="Ваш телефон для связи" placeholder="Ваш телефон для связи">
               </div>

            </div>
            <div class="feed__row">
               <div class="feed__field feed__field--full">
                  <input class="input-default" type="text" title="Ваш вопрос" placeholder="Ваш вопрос">
               </div>
            </div>
            <button class="feed__btn btn" type="submit">ОТПРАВИТЬ СООБЩЕНИЕ</button>
         </form>
      </div>
   </div>
</div>