<header class="header">
   <div class="header__container container">
      <div class="header__col">
         <a class="logo" href="#">
            <img class="logo__img" src="img/logo.png" alt="img"></a>
      </div>
      <div class="header__col">
         <div class="header__top">
            <div class="contacts contacts--header header__top-col">
               <span class="contacts__street">ул. Новозаводская, 2</span>
               <a class="contacts__phone" href="tel:+78462791919">+7 (846) 279-19-19</a>
            </div>
            <div class="header__top-col">
               <div class="header__city-label">Ваш город:</div>
               <div class="dropdown js-dropdown dropdown--header">
                  <div class="dropdown__visible js-dropdown-open">
                     <div class="dropdown__text">Самара</div>
                     {{ mixins.icon('balloon-sm') }}</div>
                  <div class="dropdown__list">
                     <ul>
                        <li><a href="#!">Самара</a></li>
                        <li><a href="#!">Москва</a></li>
                        <li><a href="#!">Самара</a></li>
                        <li><a href="#!">Москва</a></li>
                     </ul>
                  </div>
               </div>
               <a class="header__social-link" href="#!"> {{ mixins.icon('vk') }}</a>
            </div>
            <div class="userbar header__top-col">
               <button class="js-menu-btn burger">
                  <span></span>
               </button>
               <a class="userbar__item userbar__item--user" href="#"></a>
               <a class="userbar__item" href="#">
                  <div class="userbar__count">3</div>
                  {{ mixins.icon('star') }}
               </a>
               <a class="userbar__item" href="#">
                  <div class="userbar__count userbar__count--cart">9</div>
                  {{ mixins.icon('basket') }}
               </a>
            </div>
         </div>
      </div>
      <div class="header__col">
         <nav class="menu">
            <ul class="menu__list js-menu">
               <li class="menu__item"><a class="menu__link" href="#">Веха-клуб</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Каталог товаров</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Доставка и оплата</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Гарантии</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Сотрудничество</a></li>
               <li class="menu__item"><a class="menu__link" href="#">О магазине</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
            </ul>
         </nav>
      </div>
   </div>
   <a class="float-phone" href="tel:+78462791919">{{ mixins.icon('mobile') }}</a>
</header>
