<header class="header">
   <div class="container">
      <div class="header__col">
         <a class="logo" href="#">
            <img class="logo__img" src="img/logo.png" alt="img"></a>
      </div>
      <div class="header__col">
         <div class="header__top">
            <div class="header__payment payment">
               {{ mixins.icon('mc') }}
               {{ mixins.icon('visa') }}
            </div>
            <div class="contacts contacts--header">
               <span class="contacts__street">ул. Грозненская, 65,</span>
               <a class="contacts__phone" href="tel:+78462791919">+7 (846) 279-19-19</a>
            </div>
            <div class="loc loc--header">
               <a class="loc__current" href="#!">{{ mixins.icon('balloon-sm') }} <span
                      class="loc__text">Самара</span></a>
               <a class="loc__all" href="#!">адреса магазинов</a>
            </div>
            <div class="userbar userbar--header">
               <a class="userbar__item" href="#">{{ mixins.icon('user') }}</a>
               <a class="userbar__item" href="#">
                  <div class="userbar__count userbar__count--present">1</div>
                  {{ mixins.icon('box') }}
               </a>
               <a class="userbar__item" href="#">
                  <div class="userbar__count">3</div>
                  {{ mixins.icon('heart') }}
               </a>
               <a class="userbar__item" href="#">
                  <div class="userbar__count">9</div>
                  {{ mixins.icon('basket') }}
               </a>
            </div>
         </div>
      </div>
      <div class="header__col">
         <nav class="menu">
            <button type="button" class="menu__btn js-menu-btn">Категории</button>
            <ul class="menu__list js-menu">
               <li class="menu__item"><a class="menu__link" href="#">О магазине</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Веха-клуб</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Каталог товаров</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Доставка и оплата</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Гарантии</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Сотрудничество</a></li>
               <li class="menu__item"><a class="menu__link" href="#">Контакты</a></li>
            </ul>
         </nav>
      </div>
   </div>

</header>
