<section class="read">
  <div class="container">
    <div class="read__col-md">
      <article class="read__article read__article--md">
        <div class="read__article-title">КАК ВЫБРАТЬ GPS НАВИГАТОР</div>
        <p class="read__article-descr">Навигаторы бывают не только для автомобилистов, но и для пешеходов, мотоциклистов, велосипедистов, а также для мореплавателей и летчиков. Разобраться в этом многообразии вам поможет наша статья.</p>
        <div class="read__article-read">
            <a class="read__article-link" href="#!">ЧИТАТЬ СТАТЬЮ</a>
        </div>
          <img class="read__article-img" src="img/art-location.svg" alt="img">
      </article>
      <article class="read__article read__article--md">
        <div class="read__article-title">КАК ВЫБРАТЬ АВТОМОБИЛЬНЫЙ АККУМУЛЯТОР</div>
        <p class="read__article-descr">При замене автомобильного аккумулятора необходимо подобрать батарею аналогичной емкости с таким же креплением и наполнением.</p>
          <div class="read__article-read">
              <a class="read__article-link" href="#!">ЧИТАТЬ СТАТЬЮ</a>
          </div>
          <img class="read__article-img" src="img/art-battery.svg" alt="img">
      </article>
      <article class="read__article">
        <div class="read__article-title">ШИНЫ С ТЕХНОЛОГИЕЙ RUNFLAT</div>
        <p class="read__article-descr">RunFlat — это запатентованная технология, в основе которой лежит максимальное усиление шинной боковины — корда. После прокола такая шина продолжает держаться на диске, и на ней еще можно проехать около 80 км. Из соображений безопасности шины RunFlat могут устанавливаться только на автомобили с датчиками давления воздуха в шинах.</p>
          <div class="read__article-read">
              <a class="read__article-link" href="#!">ЧИТАТЬ СТАТЬЮ</a>
              <a class="read__article-link read__article-link--all" href="#!">
                  <span>Все статьи</span>
                  {{ mixins.icon('arrow') }}
              </a>
          </div>
          <img class="read__article-img" src="img/art-wheel.svg" alt="img">
      </article>
    </div>
    <div class="read__col-side">
        <div class="read__news">
            <div class="read__news-inner">
                <div class="read__article-title read__article-title--news">НОВОСТИ</div>
                <a href="#!" class="btn-border btn-border--blue">СМОТРЕТЬ ВСЕ</a>
            </div>
            <div class="read__news-slider js-news-slider">
                <div class="read__news-item">
                    <div class="read__news-date">{{ mixins.icon('clock') }} декабрь 2016</div>
                    <a class="read__news-title" href="#!">Выставка "Машиностроение 2016"</a>
                    <p class="read__news-descr">RunFlat — это запатентованная технология, в основе которой лежит максимальное усиление шинной боковины — корда. После прокола такая шина продолжает</p>
                </div>
                <div class="read__news-item">
                    <div class="read__news-date">{{ mixins.icon('clock') }} декабрь 2016</div>
                    <a class="read__news-title" href="#!">Официальное представительство в Саратове"</a>
                    <p class="read__news-descr">RunFlat — это запатентованная технология, в основе которой лежит максимальное усиление шинной боковины — корда. После прокола такая шина продолжает</p>
                </div>
                <div class="read__news-item">
                    <div class="read__news-date">{{ mixins.icon('clock') }} декабрь 2016</div>
                    <a class="read__news-title" href="#!">Выставка "Машиностроение 2016"</a>
                    <p class="read__news-descr">RunFlat — это запатентованная технология, в основе которой лежит максимальное усиление шинной боковины — корда. После прокола такая шина продолжает</p>
                </div>
                <div class="read__news-item">
                    <div class="read__news-date">{{ mixins.icon('clock') }} декабрь 2016</div>
                    <a class="read__news-title" href="#!">Официальное представительство в Саратове"</a>
                    <p class="read__news-descr">RunFlat — это запатентованная технология, в основе которой лежит максимальное усиление шинной боковины — корда. После прокола такая шина продолжает</p>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>
