<section class="screen screen--home">
   <div class="container">
      <div class="screen__col col-l">
         {% include "partials/_sidebar.html" %}
      </div>
      <div class="screen__col col-r">
         {% include "partials/_search.html" %}
      </div>
      <div class="screen__col col-r">
         <div class="screen__sld js-screen-sld">
            <div class="screen__sld-item">
               <div class="screen__sld-pic">
                  <img src="img/content/screen-sld.png" alt="img">
               </div>
               <div class="screen__sld-inner">
                  <div class="screen__sld-text">
                     <div class="screen__sld-title">ВЕХА - К ХОЛОДАМ ГОТОВЫ</div>
                     <div class="screen__sld-descr">СУПЕР ЦЕНЫ ДЛЯ ТЕХ КТО <br>ВОВРЕМЯ ГОТОВИТСЯ К ЗИМЕ!</div>
                     <a class="screen__sld-btn btn-border" href="#!">ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ {{ mixins.icon('arrow') }}</a>
                  </div>
               </div>
            </div>
            <div class="screen__sld-item">
               <div class="screen__sld-pic">
                  <img src="img/content/screen-sld.png" alt="img">
               </div>
               <div class="screen__sld-inner">
                  <div class="screen__sld-text">
                     <div class="screen__sld-title">ВЕХА - К ХОЛОДАМ ГОТОВЫ</div>
                     <div class="screen__sld-descr">СУПЕР ЦЕНЫ ДЛЯ ТЕХ КТО <br>ВОВРЕМЯ ГОТОВИТСЯ К ЗИМЕ!</div>
                     <a class="screen__sld-btn btn-border" href="#!">ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ {{ mixins.icon('arrow') }}</a>
                  </div>
               </div>
            </div>
         </div>
         <button class="scroll-next js-scroll-next" type="button"><img src="img/other/mouse.svg" alt="scroll-down">
         </button>
      </div>
   </div>
</section>