<div class="search search--home">
    <h2 class="search__title search__title--short title-sm">ПОИСК СРЕДИ 20 000 000 ЗАПЧАСТЕЙ ДЛЯ ИНОМАРОК, ОТЕЧЕСТВЕННЫХ И ГРУЗОВЫХ АВТО</h2>
    <div class="search__inner">
        <div class="search__form-wrapp search__form-wrapp--full">
            <form class="search__form" action="#">
                <div class="search__form-field">
                    <input class="search__form-input" type="text" name="" title="Поиск">
                    <button class="search__form-btn" type="submit">{{ mixins.icon('search') }}</button>
                    <ul class="search__tags">
                        <li>Амортизатор <span class="search__tags-remove">{{ mixins.icon('close') }}</span></li>
                        <li>Камаз <span class="search__tags-remove">{{ mixins.icon('close') }}</span></li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="search__types">
            <div class="search__types-top">
                <a class="search__types-link" href="#!">ДЛЯ ГРУЗОВИКОВ</a>
                <a class="search__types-link" href="#!">ДЛЯ АВТОБУСОВ</a>
                <a class="search__types-link" href="#!">ДЛЯ СЕЛЬХОЗТЕХНИКИ</a>
                <a class="search__types-link" href="#!">ДЛЯ СПЕЦТЕХНИКИ</a>
            </div>
            <ul class="search__types-list">
                <li class="search__types-pic search__types-pic--1"><a class="search__types-car" href="#!">ДЛЯ <br>КАМАЗ</a></li>
                <li class="search__types-pic search__types-pic--2"><a class="search__types-car" href="#!">ДЛЯ <br>ГАЗ</a></li>
                <li class="search__types-pic search__types-pic--3"><a class="search__types-car" href="#!">ДЛЯ <br>ЗИЛ</a></li>
                <li class="search__types-pic search__types-pic--4"><a class="search__types-car" href="#!">ДЛЯ <br>УАЗ</a></li>
                <li class="search__types-pic search__types-pic--5"><a class="search__types-car" href="#!">ДЛЯ <br>ПАЗ</a></li>
                <li class="search__types-pic search__types-pic--6"><a class="search__types-car" href="#!">ДЛЯ СЕЛЬХОЗ <br>ТЕХНИКИ</a></li>
                <li class="search__types-pic search__types-pic--7"><a class="search__types-car" href="#!">ДЛЯ СПЕЦ <br>ТЕХНИКА</a></li>
            </ul>
        </div>
    </div>
</div>
