<div class="sb">
   <div class="sb-menu">
      <div class="sb-menu__item js-sb-item">
         <div class="sb-menu__title"> {{ mixins.icon('car') }}
            <span>ДЛЯ АВТОМОБИЛЕЙ</span> {{ mixins.icon('arrow-sld') }}
         </div>
         <div class="sb-menu__content js-sb-content">
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}иномарки</a>
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}отечественные</a>
         </div>
      </div>
      <div class="sb-menu__item js-sb-item">
         <div class="sb-menu__title"> {{ mixins.icon('car-village') }}
            <span>ДЛЯ СЕЛЬХОЗМАШИН</span> {{ mixins.icon('arrow-sld') }}
         </div>
         <div class="sb-menu__content js-sb-content">
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}иномарки</a>
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}отечественные</a>
         </div>
      </div>
      <div class="sb-menu__item js-sb-item">
         <div class="sb-menu__title"> {{ mixins.icon('details') }}
            <span>ШИНЫ, МАСЛА, АКБ <br>И ПРОЧЕЕ</span> {{ mixins.icon('arrow-sld') }}
         </div>
         <div class="sb-menu__content js-sb-content">
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}иномарки</a>
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}отечественные</a>
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}иномарки</a>
            <a class="sb-menu__link" href="#">{{ mixins.icon('arrow') }}отечественные</a>
         </div>
      </div>
   </div>
   <div class="sb-promo">
      <div class="sb-promo__item">
         {{ mixins.icon('promo-calendar') }}
         <p class="sb-promo__title">ПРОМО ПРАЙС</p>
         <p class="sb-promo__content">ЯНВАРЬ-ФЕВРАЛЬ 2017</p>
         <a class="sb-promo__btn btn-border" href="#">СКАЧАТЬ</a>
      </div>
      <div class="sb-promo__item">
         {{ mixins.icon('promo-pers') }}
         <p class="sb-promo__title">МЕНЯЕМ БОНУСНЫЕ КАРТЫ</p>
         <p class="sb-promo__content">НА ДИСКОНТНЫЕ<br> НОМИНАЛОМ<br> ОТ 3% ДО 10%
         </p>
         <a class="sb-promo__link link-default" href="#">все статьи</a>
      </div>
   </div>
</div>