.icon-arr-bott {
  width: 1.44em;
  height: 1em;
  fill: #40403e;
}
.icon-arrow-b {
  width: 0.62em;
  height: 1em;
  fill: initial;
}
.icon-arrow-sld {
  width: 0.69em;
  height: 1em;
  fill: #40403e;
}
.icon-arrow {
  width: 1.08em;
  height: 1em;
  fill: initial;
}
.icon-balloon-sm {
  width: 0.71em;
  height: 1em;
  fill: #ef7937;
}
.icon-basket-btn {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-basket {
  width: 1.23em;
  height: 1em;
  fill: initial;
}
.icon-box {
  width: 0.95em;
  height: 1em;
  fill: initial;
}
.icon-cancel {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-car-village {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-car {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: #8a8a89;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #40403e;
}
.icon-details {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-discount {
  width: 2.36em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-fb {
  width: 0.5em;
  height: 1em;
  fill: initial;
}
.icon-file {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-heart {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-in {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.icon-list-view {
  width: 1em;
  height: 1em;
  fill: #252525;
}
.icon-map-balloon {
  width: 0.73em;
  height: 1em;
  fill: #005895;
}
.icon-mc {
  width: 1.5em;
  height: 1em;
  fill: #d3d3d3;
}
.icon-minus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-more {
  width: 0.94em;
  height: 1em;
  fill: initial;
}
.icon-od {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-p {
  width: 0.78em;
  height: 1em;
  fill: initial;
}
.icon-pencil {
  width: 0.89em;
  height: 1em;
  fill: #0078bf;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-promo-calendar {
  width: 1.18em;
  height: 1em;
  fill: initial;
}
.icon-promo-pers {
  width: 1.2em;
  height: 1em;
  fill: initial;
}
.icon-rubl {
  width: 0.86em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-star {
  width: 1.06em;
  height: 1em;
  fill: #0078bf;
}
.icon-tile-view {
  width: 1em;
  height: 1em;
  fill: #ff6c00;
}
.icon-user {
  width: 1.14em;
  height: 1em;
  fill: initial;
}
.icon-visa {
  width: 2.87em;
  height: 1em;
  fill: #d3d3d3;
}
.icon-vk {
  width: 1.8em;
  height: 1em;
  fill: initial;
}
